   
   
   
   
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    color: rgb(243, 33, 33);
    background-attachment: fixed;
    background-color: black;
  
  }

    .review-card {
        background-color: #1c1c1c;
        color: #fff;
        padding: 20px;
        margin: 20px 0;
        border-radius: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .form-input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .form-button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
    }

    /* Style for the navigation menu */
.nav-menu {
    position: fixed;
    top: 500px;
    left: 20px;
    z-index: 1000;
}
.nav-menu ul {
  list-style-type: none;
}

.nav-menu li {
  margin-bottom: 10px;
}

.nav-menu a {
  text-decoration: none;
  color: #f13131;
}

/* Center content vertically and horizontally */
.about-article {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: auto; /* Enable scrolling for the article content */
  background-color: rgba(59, 55, 55, 0.9); /* Set the background color for the article */
  flex-direction: column;
}

#reviewContainer{
    width: 50%;
    border: 15px solid rgb(5, 5, 5);
    padding: 50px;
    margin: 20px;
}

